@model TakeSurveyPostViewModel

@using APPartment.Infrastructure.UI.Common.Constants
@using APPartment.Infrastructure.Tools

@{
    var questions = Model.QuestionsAndAnswers.Select(x => x.Key);
    var answers = Model.QuestionsAndAnswers.Select(x => x.Value);
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                @Model.SurveyDisplayName
                <div style="margin-left: auto">
                    <button id="btn-submit-survey-@Model.SurveyID" type="button" class="btn btn-primary">Submit</button>
                    <button id="btn-finish-later-survey-@Model.SurveyID" type="button" class="btn btn-primary">Finish later</button>
                </div>
            </div>
            <div class="card-body">
                @foreach (var question in questions.DistinctBy(x => x.ID))
                {
                    <strong>@question.Name</strong>

                    if (question.TypeID.Equals((long)SurveyQuestionTypes.StandardQuestionWithOneCorrectAnswer))
                    {
                        foreach (var answer in answers.Where(x => x.QuestionID == question.ID))
                        {
                            <div class="form-check">
                                @if (@answer.SurveyParticipantAnswer.MarkedAsCorrect)
                                {
                                    <input class="form-check-input" type="radio" id="answer-@answer.ID" checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="radio" id="answer-@answer.ID">
                                }

                                <label class="form-check-label" for="answer-@answer.ID">
                                    @answer.Answer
                                </label>
                            </div>
                        }
                    }
                    else if (question.TypeID.Equals((long)SurveyQuestionTypes.StandardQuestionWithManyCorrectAnswers))
                    {
                        foreach (var answer in answers.Where(x => x.QuestionID == question.ID))
                        {
                            <div class="form-check">
                                @if (@answer.SurveyParticipantAnswer.MarkedAsCorrect)
                                {
                                    <input class="form-check-input" type="radio" id="answer-@answer.ID" checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="radio" id="answer-@answer.ID">
                                }

                                <label class="form-check-label" for="answer-@answer.ID">
                                    @answer.Answer
                                </label>
                            </div>
                        }
                    }
                    else if (question.TypeID.Equals((long)SurveyQuestionTypes.StandardQuestionWithNoIncorrectAnswer))
                    {
                        foreach (var answer in answers.Where(x => x.QuestionID == question.ID))
                        {
                            <div class="form-check">
                                @if (@answer.SurveyParticipantAnswer.MarkedAsCorrect)
                                {
                                    <input class="form-check-input" type="radio" id="answer-@answer.ID" checked>
                                }
                                else
                                {
                                    <input class="form-check-input" type="radio" id="answer-@answer.ID">
                                }

                                <label class="form-check-label" for="answer-@answer.ID">
                                    @answer.Answer
                                </label>
                            </div>
                        }
                    }
                    else if (question.TypeID.Equals((long)SurveyQuestionTypes.RatingQuestion))
                    {
                        <div>
                            Not implemented yet...
                        </div>
                    }
                    else if (question.TypeID.Equals((long)SurveyQuestionTypes.OpenEndedQuestion))
                    {
                        foreach (var answer in answers.Where(x => x.QuestionID == question.ID))
                        {
                            <div class="form-group">
                                @if (@answer.SurveyParticipantAnswer.MarkedAsCorrect)
                                {
                                    <textarea id="open-ended-answer-to-question-@question.ID" class="form-control form-control-sm" rows="5" placeholder="Write down your answer...">@answer.Answer</textarea>
                                }
                                else
                                {
                                    <textarea id="open-ended-answer-to-question-@question.ID" class="form-control form-control-sm" rows="5" placeholder="Write down your answer..."></textarea>
                                }
                            </div>
                        }
                    }
                    <hr />
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btn-submit-survey-@Model.SurveyID').on("click", function () {
            $.ajax({
                type: 'POST',
                url: baseApplicationPath + `Surveys/Pending/FinishSurvey`,
                data: { surveyID: @Model.SurveyID, finishLater: false },
                success: function () {
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });

            var standardQuestionAnswers = $('[id^="answer-"]');
            var openEndedQuestionAnswers = $('[id^="open-ended-answer-to-question-"]');

            for (var i = 0; i < standardQuestionAnswers.length; i++) {
                var currentAnswer = standardQuestionAnswers[i];
                var currentAnswerIsMarkedAsCorrect = currentAnswer.value === "on";
                var currentAnswerID = currentAnswer.getAttribute('id').split('-')[1];

                if (currentAnswerIsMarkedAsCorrect) {
                    $.ajax({
                        type: 'POST',
                        url: baseApplicationPath + `Surveys/Pending/MarkAsCorrect`,
                        data: { answerID: currentAnswerID },
                        success: function () {
                        },
                        error: function (req, status, error) {
                            alert(error);
                        }
                    });
                }
            }

            for (var i = 0; i < openEndedQuestionAnswers.length; i++) {
                var currentAnswer = openEndedQuestionAnswers[i];
                var currentAnswerQuestionID = currentAnswer.getAttribute('id').split('-')[5];

                if (currentAnswer.value) {
                    $.ajax({
                        type: 'POST',
                        url: baseApplicationPath + `Surveys/Pending/SetOpenEndedAnswer`,
                        data: { questionID: currentAnswerQuestionID, answer: currentAnswer.value },
                        success: function () {
                        },
                        error: function (req, status, error) {
                            alert(error);
                        }
                    });
                }
            }

            window.location.replace(`${baseApplicationPath}Surveys/Pending`);
        });

        $('#btn-finish-later-survey-@Model.SurveyID').on("click", function () {
            $.ajax({
                type: 'POST',
                url: baseApplicationPath + `Surveys/Pending/FinishSurvey`,
                data: { surveyID: @Model.SurveyID, finishLater: true },
                success: function () {
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });

            var standardQuestionAnswers = $('[id^="answer-"]');
            var openEndedQuestionAnswers = $('[id^="open-ended-answer-to-question-"]');

            for (var i = 0; i < standardQuestionAnswers.length; i++) {
                var currentAnswer = standardQuestionAnswers[i];
                var currentAnswerIsMarkedAsCorrect = currentAnswer.value === "on";
                var currentAnswerID = currentAnswer.getAttribute('id').split('-')[1];

                if (currentAnswerIsMarkedAsCorrect) {
                    $.ajax({
                        type: 'POST',
                        url: baseApplicationPath + `Surveys/Pending/MarkAsCorrect`,
                        data: { answerID: currentAnswerID },
                        success: function () {
                        },
                        error: function (req, status, error) {
                            alert(error);
                        }
                    });
                }
            }

            for (var i = 0; i < openEndedQuestionAnswers.length; i++) {
                var currentAnswer = openEndedQuestionAnswers[i];
                var currentAnswerQuestionID = currentAnswer.getAttribute('id').split('-')[5];

                if (currentAnswer.value) {
                    $.ajax({
                        type: 'POST',
                        url: baseApplicationPath + `Surveys/Pending/SetOpenEndedAnswer`,
                        data: { questionID: currentAnswerQuestionID, answer: currentAnswer.value },
                        success: function () {
                        },
                        error: function (req, status, error) {
                            alert(error);
                        }
                    });
                }
            }

            window.location.replace(`${baseApplicationPath}Surveys/Pending`);
        });
    });
</script>