<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">APPartment - the project</h6>
            </div>
            <div class="card-body">
                <p>
                    APPartment is an ASP.NET Core MVC project for sharing with your housemate/s and keeping track of everything at the apartment,
                    simplifying the whole process of living with people under a common roof.

                    <hr />

                    <a asp-controller="Home" asp-action="Index">Home</a> - a place where every housemate can keep track of the most important updates. There is a chat room
                    for exchanging some form of information with other housemates. Also, a rent due date card to always be up-to-date when it should be payed.

                    <br />

                    <a asp-controller="Inventory" asp-action="Index">Inventory</a> - for storing items with importance, with statuses for availability.

                    <br />

                    <a asp-controller="Hygiene" asp-action="Index">Hygiene</a> - for storing information on what item, place, or segment of the apartment/house in what status is
                    in connection to awaiting to be cleaned or already cleaned.

                    <br />

                    <a asp-controller="Issues" asp-action="Index">Issues</a> - for alarming other housemates about new issues needing resolution.

                    <br />

                    <a asp-controller="Home" asp-action="Settings">Settings</a> - here you can manage everything connected to your home, like name, password, status or rent due date.
                </p>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">About the developer</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="~/images/dev.jpg" alt="Nikola Siderov" style="max-width: 100%; height:auto; border-radius: 50%" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            Software developer with one year professional experience, and two more non-professional. 
                            Interested in .NET technologies mainly.
                            <br />
                            Beer lover, former freestyle football player, very chill guy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">The logo</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="~/images/APPartment logo official.png" alt="APPartment logo" style="max-width: 100%; height:auto;" />
                    </div>
                    <div class="col-md-8">
                        <p>
                            The design of the logo has gone through many modifications over time, but the core idea has stayed untouched!
                            It was developed by me and my beautiful girlfriend. We wanted it to be directly connected to the project's purpose. That's why it is a shape that represents
                            the inside of a house/apartment with differently placed rooms with indication for each room's purpose. Also the reason we chose a triangle for the shape
                            is because it can me used as a secondary logo design as an 'A' in the project's name - APPartment.
                        </p>

                        <br />

                        <img src="~/images/APPartment logo horizontal official.png" alt="APPartment logo horizontal" style="max-width: 100%; height:auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Latest deployment - 24/02/2020</h6>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        <strong>Menu sub-tabs</strong> are now available for <a href="@Url.Action("Index", "Inventory")">Inventory</a>,
                        <a href="@Url.Action("Index", "Hygiene")">Hygiene</a>, <a href="@Url.Action("Index", "Issues")">Issues</a> modules! <br />
                        Each sub-tab is filtering according to its functions.
                    </li>
                    <li>
                        <strong>Grid actions</strong> now have an additional button for checking/unchecking item!
                    </li>
                    <li>
                        <strong>Chat</strong> now displays top 10 saved messages. <br />
                        Previously you could chat with the housemates, but on refresh of the page the chat was lost, not anymore!
                    </li>
                    <li>
                        I have introduced <strong>Comments</strong> for all base objects. <br />
                        Base objects are objects in <a href="@Url.Action("Index", "Inventory")">Inventory</a>, <a href="@Url.Action("Index", "Hygiene")">Hygiene</a> and <a href="@Url.Action("Index", "Issues")">Issues</a> modules. <br />
                        You can now comment on every object in the Details and Edit views!
                    </li>
                    <li>
                        <a href="@Url.Action("Settings", "Home")"><strong>Settings</strong></a> now provide the ability to change the house name! <br />
                        Also the rent due date field is modified to work more dinamically with only selecting the day of the month and the <a href="@Url.Action("Index", "Home")">Home</a> page now
                        displays the rent due date according to the current date!
                    </li>
                    <li>
                        <strong>Grid</strong> (Data table) has overgone many modifications! <br />
                        <strong>Search</strong> is now on the top right of the grid and <strong>WORKS</strong>! <strong>Pagination</strong> is now available! Ability of the user to modify how many records he/she wants to see at once is now available!
                        Under the grid there is information on how many items are being displayed at the current page.
                    </li>
                    <li>
                        Login/Register pages for accounts and homes are now differentiated by being on different sides of the current page. Still in progress to differentiate in a better looking way!
                    </li>
                    <li>
                        Characters are limited now for Name and Details properties of object in grid and home widgets.
                    </li>
                    <li>
                        <strong>Badges</strong> are now a thing! <br />
                        In the menu you can now see how many items in each module are with status high or critical.
                    </li>
                    <li>
                        Footer is modified.
                    </li>
                    <li>
                        <strong>House name</strong> is now displayed in the layout and the top left corner above the menu!
                    </li>
                    <li>
                        <strong>Log out</strong> functionality now available!
                    </li>
                    <li>
                        Bugs fixes assured!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>