@{
    ViewData["Title"] = "Home Page";
}

@model List<APPartment.Models.Base.BaseObject>

@{
    string inventoryModifiedDate = Model[0].ModifiedDate == null ? string.Empty : CalculateRelativeTime(Model[0].ModifiedDate.Value);
    string hygieneModifiedDate = Model[1].ModifiedDate == null ? string.Empty : CalculateRelativeTime(Model[1].ModifiedDate.Value);
    string issueModifiedDate = Model[2].ModifiedDate == null ? string.Empty : CalculateRelativeTime(Model[2].ModifiedDate.Value);

    string inventoryModifiedBy = Model[0].ModifiedBy == null ? string.Empty : Model[0].ModifiedBy;
    string hygieneModifiedBy = Model[1].ModifiedBy == null ? string.Empty : Model[1].ModifiedBy;
    string issueModifiedBy = Model[2].ModifiedBy == null ? string.Empty : Model[2].ModifiedBy;

    string CalculateRelativeTime(DateTime objectLastUpdate)
    {
        const int SECOND = 1;
        const int MINUTE = 60 * SECOND;
        const int HOUR = 60 * MINUTE;
        const int DAY = 24 * HOUR;
        const int MONTH = 30 * DAY;

        var ts = new TimeSpan(DateTime.Now.Ticks - objectLastUpdate.Ticks);
        double delta = Math.Abs(ts.TotalSeconds);

        if (delta < 1 * MINUTE)
            return ts.Seconds == 1 ? "One second ago" : ts.Seconds + " seconds ago";

        if (delta < 2 * MINUTE)
            return "A minute ago";

        if (delta < 45 * MINUTE)
            return ts.Minutes + " minutes ago";

        if (delta < 90 * MINUTE)
            return "An hour ago";

        if (delta < 24 * HOUR)
            return ts.Hours + " hours ago";

        if (delta < 48 * HOUR)
            return "Yesterday";

        if (delta < 30 * DAY)
            return ts.Days + " days ago";

        if (delta < 12 * MONTH)
        {
            int months = Convert.ToInt32(Math.Floor((double)ts.Days / 30));
            return months <= 1 ? "One month ago" : months + " months ago";
        }
        else
        {
            int years = Convert.ToInt32(Math.Floor((double)ts.Days / 365));
            return years <= 1 ? "One year ago" : years + " years ago";
        }
    }
}

<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <h5>Inventory - Last updates</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Name</strong>: @Model[0].Name <br /> <strong>Details</strong>: @Model[0].Details</p>
                <a href="#" class="btn btn-primary">Go to inventory</a>
            </div>
            <div class="card-footer text-muted">
                @inventoryModifiedDate by @inventoryModifiedBy
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <h5>Hygiene - Last updates</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Name</strong>: @Model[1].Name <br /> <strong>Details</strong>: @Model[1].Details</p>
                <a href="#" class="btn btn-primary">Go to hygiene</a>
            </div>
            <div class="card-footer text-muted">
                @hygieneModifiedDate by @hygieneModifiedBy
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <h5>Issues - Last updates</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Name</strong>: @Model[2].Name <br /> <strong>Details</strong>: @Model[2].Details</p>
                <a href="#" class="btn btn-primary">Go to issues</a>
            </div>
            <div class="card-footer text-muted">
                @issueModifiedDate by @issueModifiedBy
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-2">Nickname</div>
                <div class="col-4"><input type="text" class="form-control" id="userInput" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-2">Message</div>
                <div class="col-10"><textarea type="text" class="form-control" id="messageInput" rows="5" placeholder="Type a message..."></textarea></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" class="btn btn-primary" id="sendButton" value="Send Message" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h1 class="display-4">Rent due in 20/20/2020!</h1>
            <hr class="my-4">
            <p>New rent due date? You can manage your home from <a>Settings</a>.</p>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>