@{
    ViewData["Title"] = "Home Page";
}

@model List<APPartment.Models.Base.BaseObject>

<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <h5>Inventory - Last updates</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Name</strong>: @Model[0].Name <br /> <strong>Details</strong>: @Model[0].Details</p>
                <a href="#" class="btn btn-primary">Go to inventory</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <h5>Hygiene - Last updates</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Name</strong>: @Model[1].Name <br /> <strong>Details</strong>: @Model[1].Details</p>
                <a href="#" class="btn btn-primary">Go to hygiene</a>
            </div>
            <div class="card-footer text-muted">
                Just now
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-header">
                <h5>Issues - Last updates</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Name</strong>: @Model[2].Name <br /> <strong>Details</strong>: @Model[2].Details</p>
                <a href="#" class="btn btn-primary">Go to issues</a>
            </div>
            <div class="card-footer text-muted">
                5 days ago
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h1 class="display-4">Rent due in 20/20/2020!</h1>
            <hr class="my-4">
            <p>New rent due date? You can manage your home from <a>Settings</a>.</p>
        </div>
    </div>
</div>