@model APPartment.DisplayModels.Home.HomeDisplayModel

@{
    var widgetObjects = Model.BaseObjects;
}

<div class="row">
    <div class="col-md-4">
        <div class="card shadow mb-4 text-center">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Inventory - latest updates</h6>
            </div>
            <div class="card-body">
                @if (widgetObjects[0].Name != null)
                {
                    <p class="card-text">
                        <strong>Name</strong>: @widgetObjects[0].Name <br /> <strong>Details</strong>: @widgetObjects[0].Details
                    </p>
                }
                else
                {
                    <p class="card-text">No items in the inventory.</p>
                }
                <a asp-controller="Inventory" asp-action="Index" class="btn btn-primary"><i class="fas fa-link"></i> Go to inventory</a>
            </div>
            <div class="card-footer text-muted">
                @if (widgetObjects[0].Name != null)
                {
                    <p>@widgetObjects[0].LastUpdated by @widgetObjects[0].LastUpdatedBy</p>
                }
                else
                {
                    <p>No updates...</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4 text-center">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Hygiene - latest updates</h6>
            </div>
            <div class="card-body">
                @if (widgetObjects[1].Name != null)
                {
                    <p class="card-text">
                        <strong>Name</strong>: @widgetObjects[1].Name <br /> <strong>Details</strong>: @widgetObjects[1].Details
                    </p>
                }
                else
                {
                    <p class="card-text">No items in the hygiene.</p>
                }

                <a asp-controller="Hygiene" asp-action="Index" class="btn btn-primary"><i class="fas fa-link"></i> Go to hygiene</a>
            </div>
            <div class="card-footer text-muted">
                @if (widgetObjects[1].Name != null)
                {
                    <p>@widgetObjects[1].LastUpdated by @widgetObjects[1].LastUpdatedBy</p>
                }
                else
                {
                    <p>No updates...</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow mb-4 text-center">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Issues - latest updates</h6>
            </div>
            <div class="card-body">
                @if (widgetObjects[2].Name != null)
                {
                    <p class="card-text">
                        <strong>Name</strong>: @widgetObjects[2].Name <br /> <strong>Details</strong>: @widgetObjects[2].Details
                    </p>
                }
                else
                {
                    <p class="card-text">No issues present.</p>
                }
                <a asp-controller="Issues" asp-action="Index" class="btn btn-primary"><i class="fas fa-link"></i> Go to issues</a>
            </div>
            <div class="card-footer text-muted">
                @if (widgetObjects[2].Name != null)
                {
                    <p>@widgetObjects[2].LastUpdated by @widgetObjects[2].LastUpdatedBy</p>
                }
                else
                {
                    <p>No updates...</p>
                }
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Home chat room</h6>
            </div>
            <div class="card-body">
                <div class="container">
                    <input type="hidden" class="form-control" id="userInput" value="@ViewData["Username"]" />
                    <div class="row">
                        <div class="col-12"><textarea type="text" class="form-control" id="messageInput" rows="5" placeholder="Type a message..."></textarea></div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary" id="sendButton"><i class="fas fa-reply"></i> Send</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul id="messagesList">
                            @foreach (var message in Model.Messages)
                            {
                                <li>@Html.Raw(message)</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Rent due date</div>
                        <br />
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            @if (!string.IsNullOrEmpty(Model.RentDueDate))
                            {
                                <h1 class="display-4">Rent due in @Model.RentDueDate</h1>
                            }
                            else
                            {
                                <h1 class="display-4">Rent due date not set!</h1>
                            }

                            <hr class="my-4">
                            <p>New rent due date? You can manage your home from <a href="@Url.Action("Settings", "Home")">Settings</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-lg-6 mb-4" style="font-weight: bold;" id="home-status-card-div">
            <div class="card bg-success text-white shadow" id="houseStatusWidget">
                <div class="card-body" id="houseStatusWidgetBody">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script src="~/js/home.index.js"></script>