@model string

<div class="form-group">
    @Html.LabelFor(m => m, @ViewData.ModelMetadata.GetDisplayName())
    <input name="@ViewData.ModelMetadata.PropertyName" value="@ViewData.Model" class="form-control" type="password" placeholder="@ViewData.ModelMetadata.GetDisplayName()" />
    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
</div>