@model bool

<div class="form-check">
    @Html.LabelFor(m => m, @ViewData.ModelMetadata.GetDisplayName())
    <input name="@ViewData.ModelMetadata.PropertyName" class="form-check-input" type="checkbox" value="@ViewData.Model">
    <span asp-validation-for="@ViewData.ModelMetadata.PropertyName" class="text-danger"></span>
</div>