@model APPartment.Data.Models.Base.BaseObject

@{ 
    List<string> statuses = ViewData["Statuses"].ToString().Split(',').ToList();
}

<div class="card">
    <div class="card-header">
        @{
            var header = string.Format("ID: {0}, Name: {1}", Model.ObjectId, Model.Name);
        }
        @header
    </div>
    <div class="card-body">
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-edit"></i> &nbsp; Edit</a>
        </div>

        <br />

        <div>
            <div class="row">
                <div class="col-md-3">
                    <strong>Name:</strong> 
                    <p>@Model.Name</p>
                </div>
                <div class="col-md-3">
                    <strong>Status:</strong>
                    @if (Model.Status == 1)
                    {
                        <p>@statuses[0]</p>
                    }
                    else if (Model.Status == 2)
                    {
                        <p>@statuses[1]</p>
                    }
                    else if (Model.Status == 3)
                    {
                        <p>@statuses[2]</p>
                    }
                    else
                    {
                        <p>@statuses[3]</p>
                    }
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <strong>Details:</strong> 
                    <p>@Model.Details</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body">
        @await Html.PartialAsync("_ObjectMetadataTab", Model)
    </div>
</div>