@model APPartment.Models.Base.BaseObject

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
</div>

<br />

<div>
    <div class="row">
        <div class="col-md-3">
            <strong>Name:</strong> @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-md-3">
            <strong>Status:</strong> @Html.DisplayFor(model => model.Status)
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <strong>Details:</strong> @Html.DisplayFor(model => model.Details)
        </div>
    </div>
</div>

<br />

@Html.Partial("_ObjectMetadataTab", Model)