@model IEnumerable<APPartment.Models.Base.BaseObject>

@{
    var moduleName = ViewData["Module"].ToString();

    var titleForCheckAction = string.Empty;
    var titleForUncheckAction = string.Empty;
    var checkCardBody = string.Empty;
    var uncheckCardBody = string.Empty;
    var checkCardButton = string.Empty;
    var uncheckCardButton = string.Empty;

    switch (moduleName)
    {
        case "Inventory":
            titleForCheckAction = "Mark as supplied";
            titleForUncheckAction = "Mark as not supplied";

            checkCardBody = "Are you sure you want to mark as supplied?";
            uncheckCardBody = "Are you sure you want to mark as not supplied?";

            checkCardButton = "Mark supplied";
            uncheckCardButton = "Mark not supplied";
            break;
        case "Hygiene":
            titleForCheckAction = "Mark as cleaned";
            titleForUncheckAction = "Mark as not cleaned";

            checkCardBody = "Are you sure you want to mark as cleaned?";
            uncheckCardBody = "Are you sure you want to mark as not cleaned?";

            checkCardButton = "Mark cleaned";
            uncheckCardButton = "Mark not cleaned";
            break;
        case "Issues":
            titleForCheckAction = "Mark as closed";
            titleForUncheckAction = "Mark as open";

            checkCardBody = "Are you sure you want to close?";
            uncheckCardBody = "Are you sure you want to open?";

            checkCardButton = "Close";
            uncheckCardButton = "Open";
            break;
    }
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["GridTitle"]</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1">
                <a asp-action="Create"><button type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Add</button></a>
            </div>
        </div>

        <br />

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Status
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.Name.Length <= 20)
                                {
                                    <p>@item.Name</p>
                                }
                                else
                                {
                                    var itemNameResult = item.Name.Substring(0, 20) + "...";

                                    <p>@itemNameResult</p>
                                }
                            </td>
                            <td>
                                @if (item.Details.Length <= 50)
                                {
                                    <p>@item.Details</p>
                                }
                                else
                                {
                                    var itemDetailsResult = item.Details.Substring(0, 50) + "...";

                                    <p>@itemDetailsResult</p>
                                }
                            </td>
                            <td class="text-center">
                                @if (item.Status == 1)
                                {
                                    <span class="dot-success"></span>
                                }
                                else if (item.Status == 2 || item.Status == 3)
                                {
                                    <span class="dot-warning"></span>
                                }
                                else
                                {
                                    <span class="dot-danger"></span>
                                }
                            </td>
                            <td>
                                @if (item.IsCompleted)
                                {
                                    <button type="button" title="@titleForUncheckAction" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#markNotCompletedObjectModal"><i class="fas fa-exclamation-triangle"></i></button>

                                    <div class="modal fade" id="markNotCompletedObjectModal" tabindex="-1" role="dialog" aria-labelledby="markNotCompletedObjectModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="markNotCompletedObjectModalLabel">@titleForUncheckAction</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    @uncheckCardBody
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <a asp-action="MarkNotCompleted" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">@uncheckCardButton</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <button type="button" title="@titleForCheckAction" class="btn btn-success btn-sm" data-toggle="modal" data-target="#completeObjectModal"><i class="fas fa-check"></i></button>

                                    <div class="modal fade" id="completeObjectModal" tabindex="-1" role="dialog" aria-labelledby="completeObjectModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="completeObjectModalLabel">@titleForCheckAction</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    @checkCardBody
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <a asp-action="Complete" asp-route-id="@item.Id"><button type="button" class="btn btn-success">@checkCardButton</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                &nbsp;
                                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i></button></a> &nbsp;
                                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-primary btn-sm"><i class="far fa-edit"></i></button></a> &nbsp;
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteObjectModal"><i class="far fa-trash-alt"></i></button>

                                <div class="modal fade" id="deleteObjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteObjectModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteObjectModalLabel">Confirm Deletion</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this item?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Delete</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>