@model IEnumerable<APPartment.Data.Server.Models.Base.BaseObject>

@using APPartment.Data.Server.Models.Objects;
@using APPartment.Data.Server.Models.Core;

@{
    var canManage = bool.Parse(ViewData["Manage"].ToString());

    var newModel = new object();

    switch (ViewData["Module"])
    {
        case "Inventory":
            newModel = new Inventory();
            break;
        case "Hygiene":
            newModel = new Hygiene();
            break;
        case "Issues":
            newModel = new Issue();
            break;
        case "Surveys":
            newModel = new Survey();
            break;
        case "Chores":
            newModel = new Chore();
            break;
        case "Core":
            newModel = new LinkType();
            break;
    }
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["GridTitle"]</h6>
    </div>
    <div class="card-body">
        @if (canManage)
        {
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createView"><i class="fas fa-plus"></i> &nbsp; Add</button>
                </div>
            </div>

            @Html.Partial("_Create", newModel)

            <br />
        }

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Details</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><p>@item.ObjectId</p></td>
                            <td>
                                @if (item.Name.Length <= 20)
                                {
                                    <p>@item.Name</p>
                                }
                                else
                                {
                                    var itemNameResult = item.Name.Substring(0, 20) + "...";

                                    <p>@itemNameResult</p>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Details))
                                {
                                    if (item.Details.Length <= 50)
                                    {
                                        <p>@item.Details</p>
                                    }
                                    else
                                    {
                                        var itemDetailsResult = item.Details.Substring(0, 50) + "...";

                                        <p>@itemDetailsResult</p>
                                    }
                                }
                            </td>
                            <td class="text-center">
                                @if (item.Status == 1)
                                {
                                    <span class="badge badge-success">Low</span>
                                }
                                else if (item.Status == 2)
                                {
                                    <span class="badge badge-warning">Medium</span>
                                }
                                else if (item.Status == 3)
                                {
                                    <span class="badge badge-danger">High</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Critical</span>
                                }
                            </td>
                            <td>
                                @{
                                    var modalNotCompletedId = "markNotCompletedObjectModal-" + item.Id.ToString();
                                    var modalCompletedId = "completeObjectModal-" + item.Id.ToString();
                                    var modalAssignId = "assignModal-" + item.Id.ToString();

                                    var modalDeleteId = "deleteModal-" + item.Id.ToString();
                                }

                                @if (canManage)
                                {
                                    @if (item.GetType().Name == "Chore")
                                    {
                                        <button type="button" title="Assign" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#@modalAssignId"><i class="fas fa-tag"></i></button>

                                        <div class="modal fade" id="@modalAssignId" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Assign</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form asp-action="Assign" enctype="multipart/form-data">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <input name="username" placeholder="Type username to assign..." class="form-control" />
                                                                <input name="choreId" type="hidden" value="@item.Id" />
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <input type="submit" value="Assign" class="btn btn-primary" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    if (item.GetType().Name != "Chore")
                                    {
                                        if (item.Status == 1 || item.Status == 2)
                                        {
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#@modalNotCompletedId"><i class="fas fa-exclamation-triangle"></i></button>

                                            <div class="modal fade" id="@modalNotCompletedId" tabindex="-1" role="dialog" aria-labelledby="markNotCompletedObjectModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="markNotCompletedObjectModalLabel">Set high status</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to set a high status?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <a asp-action="SetHighStatus" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Set</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#@modalCompletedId"><i class="fas fa-check"></i></button>

                                            <div class="modal fade" id="@modalCompletedId" tabindex="-1" role="dialog" aria-labelledby="completeObjectModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="completeObjectModalLabel">Set low status</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to set low status?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <a asp-action="SetLowStatus" asp-route-id="@item.Id"><button type="button" class="btn btn-success">Set</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i></button></a>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-primary btn-sm"><i class="far fa-edit"></i></button></a>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#@modalDeleteId"><i class="far fa-trash-alt"></i></button>

                                    <div class="modal fade" id="@modalDeleteId" tabindex="-1" role="dialog" aria-labelledby="deleteObjectModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteObjectModalLabel">Confirm Deletion</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to delete this item?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Delete</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (item.Status == 1 || item.Status == 2)
                                    {
                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#@modalNotCompletedId"><i class="fas fa-exclamation-triangle"></i></button>

                                        <div class="modal fade" id="@modalNotCompletedId" tabindex="-1" role="dialog" aria-labelledby="markNotCompletedObjectModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="markNotCompletedObjectModalLabel">Set high status</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to set high status?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <a asp-action="SetHighStatus" asp-route-id="@item.Id"><button type="button" class="btn btn-warning">Set</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> &nbsp; Details</button></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/grid.js"></script>