@model APPartment.Models.Base.BaseObject

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<link href="~/css/images_displayview.css" rel="stylesheet" />

<div class="row" id="images-main-div">
    @if (Model.Images.Any())
    {
        <div class="col-md-12" style="display: contents;">
            @foreach (var image in Model.Images)
            {
                <div style="text-align:center; margin:10px;">
                    <div class="square" style="margin: 10px; text-align:center;">
                        <a href="~/BaseObject_Images/@image.Name" data-fancybox="gallery" data-caption="@image.FileName">
                            <img src="~/BaseObject_Images/@image.Name" class="image-img" />
                        </a>
                    </div>

                    <div class="image-metadata" style="font-size: x-small;">
                        <hr />
                        <span style="font-weight: bold;">
                            @{
                                var imageDisplayName = image.FileName.Length <= 15 ? image.FileName : image.FileName.Substring(0, 15) + "..." + image.FileName.Split('.').Last();
                            }

                            @imageDisplayName
                            <br />
                        </span>
                        <span class="image-metadata-filesize">
                            @image.FileSize |
                        </span>
                        <span class="image-metadata-created-date">
                            @image.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss tt")
                        </span>

                        <br />
                        <a href="~/BaseObject_Images/@image.Name" style="font-size: unset;" download><i class="fa fa-download"></i> Donwload</a> |
                        <a href="#" style="color: red; font-size: unset;" onclick="DeleteImage(@image.Id)"><i class="far fa-trash-alt"></i> Delete</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-md-12">
            <span id="no-images-added-message">
                No images have been added to this object.
            </span>
        </div>
    }
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <form action="/@controllerName/UploadImages?targetIdString=@Model.ObjectId" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
            <div class="dz-message">
                Drop images here or click to upload.
            </div>
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/images.custom.js"></script>

<script>
    function DeleteImage(imageId) {
        $.ajax({
            url: '@Url.Action("DeleteImage", controllerName)',
            dataType: "json",
            type: "POST",
            data: { id: imageId },
            success: function (data) {
                if (data.success) {
                    if (!alert(data.message)) { window.location.reload(); }
                }
            },
            error: function (xhr) {
                alert('Error/s thrown during execution of ajax call for deleting image...');
            }
        });
    }
</script>
