@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();

    string homeLink = string.Empty;
    string calendarLink = string.Empty;
    string inventoryLink = string.Empty;
    string hygieneLink = string.Empty;
    string issuesLink = string.Empty;
    string surveysLink = string.Empty;
    string choresLink = string.Empty;
    string settingsLink = string.Empty;
    string historyLink = string.Empty;

    if (string.IsNullOrEmpty(controllerName) || (controllerName == "Home" && string.IsNullOrEmpty(actionName)) || (controllerName == "Home" && actionName == "Index"))
    {
        homeLink = "active";
    }
    else if (controllerName == "Calendar")
    {
        calendarLink = "active";
    }
    else if (controllerName == "Inventory")
    {
        inventoryLink = "active";
    }
    else if (controllerName == "Hygiene")
    {
        hygieneLink = "active";
    }
    else if (controllerName == "Issues")
    {
        issuesLink = "active";
    }
    else if (controllerName == "Surveys")
    {
        surveysLink = "active";
    }
    else if (controllerName == "Chores")
    {
        choresLink = "active";
    }
    else if (controllerName == "Home" && actionName == "Settings")
    {
        settingsLink = "active";
    }
    else if (controllerName == "Home" && actionName == "History")
    {
        historyLink = "active";
    }
}

<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading"></div>
                <a class="nav-link @homeLink" asp-controller="Home" asp-action="Index">
                    <div class="nav-link-icon"><i class="fas fa-home"></i></div>
                    Home
                </a>
                <a class="nav-link @calendarLink" asp-controller="Calendar" asp-action="Index">
                    <div class="nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    General Calendar
                </a>
                <div class="sidenav-menu-heading">Home Objects</div>
                <a class="nav-link collapsed @inventoryLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseInventory" aria-expanded="false" aria-controls="collapseInventory">
                    <div class="nav-link-icon"><i class='fas fa-tasks'></i></div>
                    Inventory &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="inventoryBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseInventory" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="Inventory" asp-action="NotSupplied"><i class="fas fa-exclamation-triangle"></i> &nbsp; Not Supplied</a>
                        <a class="nav-link" asp-controller="Inventory" asp-action="Supplied"><i class="fas fa-check"></i> &nbsp; Supplied</a>
                        <a class="nav-link" asp-controller="Inventory" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @hygieneLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseHygiene" aria-expanded="false" aria-controls="collapseHygiene">
                    <div class="nav-link-icon"><i class='fas fa-recycle'></i></div>
                    Hygiene &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="hygieneBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseHygiene" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="Hygiene" asp-action="DueCleaning"><i class="fas fa-exclamation-triangle"></i> &nbsp; Due Cleaning</a>
                        <a class="nav-link" asp-controller="Hygiene" asp-action="Cleaned"><i class="fas fa-check"></i> &nbsp; Cleaned</a>
                        <a class="nav-link" asp-controller="Hygiene" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @issuesLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseIssues" aria-expanded="false" aria-controls="collapseIssues">
                    <div class="nav-link-icon"><i class='fas fa-exclamation-circle'></i></div>
                    Issues &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="issuesBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseIssues" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="Issues" asp-action="Open"><i class="fas fa-exclamation-triangle"></i> &nbsp; Open</a>
                        <a class="nav-link" asp-controller="Issues" asp-action="Closed"><i class="fas fa-check"></i> &nbsp; Closed</a>
                        <a class="nav-link" asp-controller="Issues" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @choresLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseChores" aria-expanded="false" aria-controls="collapseChores">
                    <div class="nav-link-icon"><i class='fas fa-shopping-bag'></i></div>
                    Chores &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="choresBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseChores" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="Chores" asp-action="Mine"><i class='fas fa-user-tag'></i> &nbsp; Mine</a>
                        <a class="nav-link" asp-controller="Chores" asp-action="Others"><i class='fas fa-user-friends'></i> &nbsp; Others</a>
                        <a class="nav-link" asp-controller="Chores" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <div class="sidenav-menu-heading">More</div>
                <a class="nav-link collapsed @surveysLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseSurveys" aria-expanded="false" aria-controls="collapseSurveys">
                    <div class="nav-link-icon"><i class="fas fa-poll"></i></div>
                    Surveys &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="surveysBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSurveys" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="Surveys" asp-action="Pending"><i class="fas fa-exclamation-triangle"></i> &nbsp; Pending</a>
                        <a class="nav-link" asp-controller="Surveys" asp-action="Completed"><i class="fas fa-check"></i> &nbsp; Completed</a>
                        <a class="nav-link" asp-controller="Surveys" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link @settingsLink" asp-controller="Home" asp-action="Settings">
                    <div class="nav-link-icon"><i class="fas fa-cog"></i></div>
                    Settings
                </a>
                <a class="nav-link @historyLink" asp-controller="Home" asp-action="History">
                    <div class="nav-link-icon"><i class="fas fa-history"></i></div>
                    History
                </a>
            </div>
        </div>
        <div style="align-self: center;">
            <img class="img-fluid" src="~/images/logo-official-rotated-circle-primary.png" width="60" />
        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>

                @using Microsoft.AspNetCore.Http

                <div class="sidenav-footer-title">@Context.Session.GetString("Username")</div>
            </div>
        </div>
    </nav>
</div>