<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="~/images/APPartment logo official white.png" alt="APPartment logo" width="30" />
        </div>
        @using Microsoft.AspNetCore.Http

        @{
            var houseName = @Context.Session.GetString("HouseName");

            if (houseName.Length > 10)
            {
                houseName = houseName.Substring(0, 10) + "...";
            }
        }
        <div class="sidebar-brand-text mx-3">@houseName</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    @{
        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        var actionName = this.ViewContext.RouteData.Values["action"].ToString();

        string homeLink = string.Empty;
        string inventoryLink = string.Empty;
        string hygieneLink = string.Empty;
        string issuesLink = string.Empty;
        string surveysLink = string.Empty;
        string settingsLink = string.Empty;
        string historyLink = string.Empty;

        if (string.IsNullOrEmpty(controllerName) || (controllerName == "Home" && string.IsNullOrEmpty(actionName)) || (controllerName == "Home" && actionName == "Index"))
        {
            homeLink = "active";
        }
        else if (controllerName == "Inventory")
        {
            inventoryLink = "active";
        }
        else if (controllerName == "Hygiene")
        {
            hygieneLink = "active";
        }
        else if (controllerName == "Issues")
        {
            issuesLink = "active";
        }
        else if (controllerName == "Surveys")
        {
            surveysLink = "active";
        }
        else if (controllerName == "Home" && actionName == "Settings")
        {
            settingsLink = "active";
        }
        else if (controllerName == "Home" && actionName == "History")
        {
            historyLink = "active";
        }
    }

    <li class="nav-item @homeLink">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Home Objects
    </div>

    <li class="nav-item @inventoryLink" id="InventoryTab">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#inventoryCollapse" aria-expanded="true" aria-controls="inventoryCollapse">
            <i class='fas fa-tasks'></i>
            <span>Inventory</span> <span class="badge badge-light" style="display: none" id="inventoryBadge"></span>
        </a>
        <div id="inventoryCollapse" class="collapse" aria-labelledby="inventoryCollapseLabel" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Inventory Objects:</h6>
                <a class="collapse-item" asp-controller="Inventory" asp-action="NotSupplied"><i class="fas fa-exclamation-triangle"></i> Not Supplied</a>
                <a class="collapse-item" asp-controller="Inventory" asp-action="Supplied"><i class="fas fa-check"></i> Supplied</a>
                <a class="collapse-item" asp-controller="Inventory" asp-action="Index"><i class="fas fa-tasks"></i> Manage</a>
            </div>
        </div>
    </li>

    <li class="nav-item @hygieneLink" id="HygieneTab">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#hygieneCollapse" aria-expanded="true" aria-controls="hygieneCollapse">
            <i class='fas fa-recycle'></i>
            <span>Hygiene</span> <span class="badge badge-light" style="display: none" id="hygieneBadge"></span>
        </a>
        <div id="hygieneCollapse" class="collapse" aria-labelledby="hygieneCollapseLabel" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Hygiene Objects:</h6>
                <a class="collapse-item" asp-controller="Hygiene" asp-action="DueCleaning"><i class="fas fa-exclamation-triangle"></i> Due Cleaning</a>
                <a class="collapse-item" asp-controller="Hygiene" asp-action="Cleaned"><i class="fas fa-check"></i> Cleaned</a>
                <a class="collapse-item" asp-controller="Hygiene" asp-action="Index"><i class="fas fa-tasks"></i> Manage</a>
            </div>
        </div>
    </li>

    <li class="nav-item @issuesLink" id="IssuesTab">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#issuesCollapse" aria-expanded="true" aria-controls="issuesCollapse">
            <i class='fas fa-exclamation-circle'></i>
            <span>Issues</span> <span class="badge badge-light" style="display: none" id="issuesBadge"></span>
        </a>
        <div id="issuesCollapse" class="collapse" aria-labelledby="issuesCollapseLabel" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Issue Objects:</h6>
                <a class="collapse-item" asp-controller="Issues" asp-action="Open"><i class="fas fa-exclamation-triangle"></i> Open</a>
                <a class="collapse-item" asp-controller="Issues" asp-action="Closed"><i class="fas fa-check"></i> Closed</a>
                <a class="collapse-item" asp-controller="Issues" asp-action="Index"><i class="fas fa-tasks"></i> Manage</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        More
    </div>

    <li class="nav-item @surveysLink" id="SurveysTab">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#surveysCollapse" aria-expanded="true" aria-controls="surveysCollapse">
            <i class="fas fa-poll"></i>
            <span>Surveys</span> <span class="badge badge-light" style="display: none" id="surveysBadge"></span>
        </a>
        <div id="surveysCollapse" class="collapse" aria-labelledby="surveysCollapseLabel" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="Surveys" asp-action="Pending"><i class="fas fa-pen"></i> Pending</a>
                <a class="collapse-item" asp-controller="Surveys" asp-action="Completed"><i class="fas fa-check"></i> Completed</a>
                <a class="collapse-item" asp-controller="Surveys" asp-action="Index"><i class="fas fa-tasks"></i> Manage</a>
            </div>
        </div>
    </li>

    <li class="nav-item @settingsLink">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings">
            <i class="fas fa-cogs"></i>
            <span>Settings</span>
        </a>
    </li>

    <li class="nav-item @historyLink">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="History">
            <i class="fas fa-history"></i>
            <span>History</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>