@model IEnumerable<APPartment.UI.ViewModels.Base.GridItemViewModel>

@using APPartment.UI.Attributes
@using System.ComponentModel.DataAnnotations

@{
    var canManage = bool.Parse(ViewData["Manage"].ToString());
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewData["GridTitle"]</h6>
        <div style="margin-left: auto;">
            @if (canManage)
            {
                <a asp-action="Create" class="no-underline btn btn-success btn-sm" style="font-size: small;"><i class="fas fa-plus"></i>&nbsp; Add</a>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @if (Model.Any())
                        {
                            var properties = Model.First().GetType().GetProperties()
                                .Where(p => p.IsDefined(typeof(GridFieldDisplayAttribute), true))
                                .Select(p => new
                                {
                                    DisplayName = p.GetCustomAttributes(typeof(DisplayAttribute), true).Any() ? p.GetCustomAttributes(typeof(DisplayAttribute), true).Cast<DisplayAttribute>().Single().Name : p.Name
                                });

                            @foreach (var property in properties)
                            {
                                <th>
                                    @property.DisplayName
                                </th>
                            }
                            <th>
                                Actions
                            </th>
                        }
                        else
                        {
                            var properties = typeof(GridItemViewModel).GetProperties()
                                .Where(p => p.IsDefined(typeof(GridFieldDisplayAttribute), true))
                                .Select(p => new
                                {
                                    DisplayName = p.GetCustomAttributes(typeof(DisplayAttribute), true).Any() ? p.GetCustomAttributes(typeof(DisplayAttribute), true).Cast<DisplayAttribute>().Single().Name : p.Name
                                });

                            @foreach (var property in properties)
                            {
                                <th>
                                    @property.DisplayName
                                </th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                @foreach (var property in item.GetType().GetProperties().Where(p => p.IsDefined(typeof(GridFieldDisplayAttribute), true)))
                                {
                                    var value = @property.GetValue(item);
                                    <td>@value</td>
                                }
                                <td>
                                    @{
                                        var modalAssignId = "assignModal-" + item.ID.ToString();
                                        var modalDeleteId = "deleteModal-" + item.ID.ToString();
                                    }

                                    @if (canManage)
                                    {
                                        @if (item.GetType().Name == "Chore")
                                        {
                                            <button type="button" title="Assign" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#@modalAssignId"><i class="fas fa-tag"></i></button>

                                            <div class="modal fade" id="@modalAssignId" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Assign</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form asp-action="Assign" enctype="multipart/form-data">
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <input name="username" placeholder="Type username to assign..." class="form-control" />
                                                                    <input name="choreId" type="hidden" value="@item.ID" />
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <input type="submit" value="Assign" class="btn btn-primary" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <a asp-action="Details" asp-route-id="@item.ID" class="no-underline"><button type="button" class="btn btn-outline-cyan btn-xs btn-icon"><i class="fas fa-info-circle"></i></button></a>
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="no-underline"><button type="button" class="btn btn-outline-blue btn-xs btn-icon"><i class="fas fa-edit"></i></button></a>
                                        <button type="button" class="btn btn-outline-red btn-xs btn-icon" data-toggle="modal" data-target="#@modalDeleteId"><i class="fas fa-trash-alt"></i></button>

                                        <div class="modal fade" id="@modalDeleteId" tabindex="-1" role="dialog" aria-labelledby="deleteObjectModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteObjectModalLabel">Confirm Deletion</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this item?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <a asp-action="Delete" asp-route-id="@item.ID" class="no-underline"><button type="button" class="btn btn-danger">Delete</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-action="Details" asp-route-id="@item.ID" class="no-underline"><button type="button" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> &nbsp; Details</button></a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/js/grid.js"></script>
