@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();

    string homeLink = string.Empty;
    string calendarLink = string.Empty;
    string inventoryLink = string.Empty;
    string hygieneLink = string.Empty;
    string issuesLink = string.Empty;
    string surveysLink = string.Empty;
    string choresLink = string.Empty;
    string settingsLink = string.Empty;

    if (string.IsNullOrEmpty(controllerName)
        || (controllerName == "Home" && string.IsNullOrEmpty(actionName))
        || (controllerName == "Home" && actionName == "Index"))
    {
        homeLink = "active";
    }
    else if (controllerName == "Calendar")
    {
        calendarLink = "active";
    }
    else if (controllerName == "Inventory")
    {
        inventoryLink = "active";
    }
    else if (controllerName == "SuppliedInventory")
    {
        inventoryLink = "active";
    }
    else if (controllerName == "NotSuppliedInventory")
    {
        inventoryLink = "active";
    }
    else if (controllerName == "Hygiene")
    {
        hygieneLink = "active";
    }
    else if (controllerName == "DoneHygiene")
    {
        inventoryLink = "active";
    }
    else if (controllerName == "NotDoneHygiene")
    {
        inventoryLink = "active";
    }
    else if (controllerName == "Issues")
    {
        issuesLink = "active";
    }
    else if (controllerName == "ClosedIssues")
    {
        issuesLink = "active";
    }
    else if (controllerName == "NotClosedIssues")
    {
        issuesLink = "active";
    }
    else if (controllerName == "Surveys")
    {
        surveysLink = "active";
    }
    else if (controllerName == "CompletedSurveys")
    {
        surveysLink = "active";
    }
    else if (controllerName == "NotCompletedSurveys")
    {
        surveysLink = "active";
    }
    else if (controllerName == "Chores")
    {
        choresLink = "active";
    }
    else if (controllerName == "DoneChores")
    {
        choresLink = "active";
    }
    else if (controllerName == "NotDoneChores")
    {
        choresLink = "active";
    }
    else if (controllerName == "Home" && actionName == "Settings")
    {
        settingsLink = "active";
    }
}

<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading"></div>
                <a class="nav-link @homeLink" asp-controller="Home" asp-action="Index">
                    <div class="nav-link-icon"><i class="fas fa-home"></i></div>
                    Home
                </a>
                <a class="nav-link @calendarLink" asp-controller="Calendar" asp-action="Index">
                    <div class="nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    General Calendar
                </a>
                <div class="sidenav-menu-heading">Home Objects</div>
                <a class="nav-link collapsed @inventoryLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseInventory" aria-expanded="false" aria-controls="collapseInventory">
                    <div class="nav-link-icon"><i class='fas fa-tasks'></i></div>
                    Inventory &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="inventoryBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseInventory" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="NotSuppliedInventory" asp-action="Index"><i class="fas fa-exclamation-triangle"></i> &nbsp; Not Supplied &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="notSuppliedInventoryBadge"></span></a>
                        <a class="nav-link" asp-controller="SuppliedInventory" asp-action="Index"><i class="fas fa-check"></i> &nbsp; Supplied &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="suppliedInventoryBadge"></span></a>
                        <a class="nav-link" asp-controller="Inventory" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @hygieneLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseHygiene" aria-expanded="false" aria-controls="collapseHygiene">
                    <div class="nav-link-icon"><i class='fas fa-recycle'></i></div>
                    Hygiene &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="hygieneBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseHygiene" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="NotDoneHygiene" asp-action="Index"><i class="fas fa-exclamation-triangle"></i> &nbsp; Due Cleaning  &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="notDoneHygieneBadge"></span></a>
                        <a class="nav-link" asp-controller="DoneHygiene" asp-action="Index"><i class="fas fa-check"></i> &nbsp; Cleaned &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="doneHygieneBadge"></span></a>
                        <a class="nav-link" asp-controller="Hygiene" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @issuesLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseIssues" aria-expanded="false" aria-controls="collapseIssues">
                    <div class="nav-link-icon"><i class='fas fa-exclamation-circle'></i></div>
                    Issues &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="issuesBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseIssues" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="Issues" asp-action="Index"><i class="fas fa-exclamation-triangle"></i> &nbsp; Open &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="notClosedIssuesBadge"></span></a>
                        <a class="nav-link" asp-controller="Issues" asp-action="Index"><i class="fas fa-check"></i> &nbsp; Closed   &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="closedIssuesBadge"></span></a>
                        <a class="nav-link" asp-controller="Issues" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @choresLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseChores" aria-expanded="false" aria-controls="collapseChores">
                    <div class="nav-link-icon"><i class='fas fa-shopping-bag'></i></div>
                    Chores &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="choresBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseChores" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="Chores" asp-action="Index"><i class='fas fa-user-tag'></i> &nbsp; Mine &nbsp; Open &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="notDoneChoresBadge"></span></a>
                        <a class="nav-link" asp-controller="Chores" asp-action="Index"><i class='fas fa-user-friends'></i> &nbsp; Others &nbsp; Open &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="doneChoresBadge"></span></a>
                        <a class="nav-link" asp-controller="Chores" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <div class="sidenav-menu-heading">More</div>
                <a class="nav-link collapsed @surveysLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseSurveys" aria-expanded="false" aria-controls="collapseSurveys">
                    <div class="nav-link-icon"><i class="fas fa-poll"></i></div>
                    Surveys &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="surveysBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSurveys" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-controller="Surveys" asp-action="Index"><i class="fas fa-exclamation-triangle"></i> &nbsp; Pending  &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="notCompletedSurveysBadge"></span></a>
                        <a class="nav-link" asp-controller="Surveys" asp-action="Index"><i class="fas fa-check"></i> &nbsp; Completed &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="completedSurveysBadge"></span></a>
                        <a class="nav-link" asp-controller="Surveys" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link @settingsLink" asp-controller="Home" asp-action="Settings">
                    <div class="nav-link-icon"><i class="fas fa-cog"></i></div>
                    Settings
                </a>
            </div>
        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>

                @using Microsoft.AspNetCore.Http

                <div class="sidenav-footer-title">@Context.Session.GetString("Username")</div>
            </div>
        </div>
    </nav>
</div>