@{
    var area = this.ViewContext.RouteData.Values["area"];
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
    var action = this.ViewContext.RouteData.Values["action"].ToString();

    var areaName = string.Empty;

    if (area != null)
    {
        areaName = area.ToString();
    }

    string homeLink = string.Empty;
    string calendarLink = string.Empty;
    string inventoryLink = string.Empty;
    string issuesLink = string.Empty;
    string surveysLink = string.Empty;
    string choresLink = string.Empty;
    string roommatesLink = string.Empty;
    string settingsLink = string.Empty;


    if ((string.IsNullOrEmpty(areaName) || areaName.Equals("default")) && controller.Equals("Home") && action.Equals("Index"))
    {
        homeLink = "active";
    }
    else if (!string.IsNullOrEmpty(areaName) && (areaName.Equals("default") && controller.Equals("Calendar") && action.Equals("Index")))
    {
        calendarLink = "active";
    }
    else if (areaName.Equals("Inventory"))
    {
        inventoryLink = "active";
    }
    else if (areaName.Equals("Issues"))
    {
        issuesLink = "active";
    }
    else if (areaName.Equals("Surveys"))
    {
        surveysLink = "active";
    }
    else if (areaName.Equals("Chores"))
    {
        choresLink = "active";
    }
    else if (areaName.Equals("Roommates"))
    {
        roommatesLink = "active";
    }
    else if (!string.IsNullOrEmpty(areaName) && (areaName.Equals("default") && controller.Equals("Home") && action.Equals("Settings")))
    {
        settingsLink = "active";
    }
}

<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading"></div>
                <a class="nav-link @homeLink" asp-area="default" asp-controller="Home" asp-action="Index">
                    <div class="nav-link-icon"><i class="fas fa-home"></i></div>
                    Home
                </a>
                <a class="nav-link @calendarLink" asp-area="default" asp-controller="Calendar" asp-action="Index">
                    <div class="nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    General Calendar
                </a>
                <div class="sidenav-menu-heading">Home Objects</div>
                <a class="nav-link collapsed @inventoryLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseInventory" aria-expanded="false" aria-controls="collapseInventory">
                    <div class="nav-link-icon"><i class='fas fa-tasks'></i></div>
                    Inventory &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="inventoryBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseInventory" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-area="Inventory" asp-controller="Unsupplied" asp-action="Index"><i class="fas fa-exclamation-triangle"></i> &nbsp; Unsupplied &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="unsuppliedInventoryBadge"></span></a>
                        <a class="nav-link" asp-area="Inventory" asp-controller="Supplied" asp-action="Index"><i class="fas fa-check"></i> &nbsp; Supplied &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="suppliedInventoryBadge"></span></a>
                        <a class="nav-link" asp-area="Inventory" asp-controller="Inventory" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @issuesLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseIssues" aria-expanded="false" aria-controls="collapseIssues">
                    <div class="nav-link-icon"><i class='fas fa-exclamation-circle'></i></div>
                    Issues &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="issuesBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseIssues" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-area="Issues" asp-controller="Open" asp-action="Index"><i class="fas fa-exclamation-triangle"></i> &nbsp; Open &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="openIssuesBadge"></span></a>
                        <a class="nav-link" asp-area="Issues" asp-controller="Closed" asp-action="Index"><i class="fas fa-check"></i> &nbsp; Closed   &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="closedIssuesBadge"></span></a>
                        <a class="nav-link" asp-area="Issues" asp-controller="Issues" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @choresLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseChores" aria-expanded="false" aria-controls="collapseChores">
                    <div class="nav-link-icon"><i class='fas fa-shopping-bag'></i></div>
                    Chores &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="choresBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseChores" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-area="Chores" asp-controller="Mine" asp-action="Index"><i class='fas fa-user-tag'></i> &nbsp; Mine &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="mineChoresBadge"></span></a>
                        <a class="nav-link" asp-area="Chores" asp-controller="Others" asp-action="Index"><i class='fas fa-user-friends'></i> &nbsp; Others &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="othersChoresBadge"></span></a>
                        <a class="nav-link" asp-area="Chores" asp-controller="Chores" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <a class="nav-link collapsed @surveysLink" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseSurveys" aria-expanded="false" aria-controls="collapseSurveys">
                    <div class="nav-link-icon"><i class="fas fa-poll"></i></div>
                    Surveys &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="surveysBadge"></span>
                    <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSurveys" data-parent="#accordionSidenav">
                    <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
                        <a class="nav-link" asp-area="Surveys" asp-controller="Pending" asp-action="Index"><i class="fas fa-exclamation-triangle"></i> &nbsp; Pending  &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="pendingSurveysBadge"></span></a>
                        <a class="nav-link" asp-area="Surveys" asp-controller="Completed" asp-action="Index"><i class="fas fa-check"></i> &nbsp; Completed &nbsp; <span class="badge badge-warning badge-pill" style="display: none" id="completedSurveysBadge"></span></a>
                        <a class="nav-link" asp-area="Surveys" asp-controller="Surveys" asp-action="Index"><i class="fas fa-tasks"></i> &nbsp; Manage</a>
                    </nav>
                </div>
                <div class="sidenav-menu-heading">More</div>
                <a class="nav-link @roommatesLink" asp-area="Roommates" asp-controller="Roommates" asp-action="Index">
                    <div class="nav-link-icon"><i class="fa fa-users"></i></div>
                    Roommates
                </a>

                <a class="nav-link @settingsLink" asp-area="default" asp-controller="Home" asp-action="Settings">
                    <div class="nav-link-icon"><i class="fas fa-cog"></i></div>
                    Settings
                </a>
            </div>
        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>

                @using Microsoft.AspNetCore.Http

                <div class="sidenav-footer-title">@Context.Session.GetString("Username")</div>
            </div>
        </div>
    </nav>
</div>