@model APPartment.Infrastructure.UI.Common.ViewModels.Home.HomePageDisplayModel

<div class="row">
    <div class="col-md-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><i class="far fa-comment-dots"></i> Chat with housemates</h6>
            </div>
            <div class="card-body">
                <div class="container">
                    <input type="hidden" class="form-control" id="userInput" value="@ViewData["CurrentUsername"]" />
                    <div class="row">
                        <div class="col-12"><textarea type="text" class="form-control" id="messageInput" rows="5" placeholder="Type a message..."></textarea></div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-sm" id="sendButton" style="font-size: small;"><i class="fas fa-reply"></i> &nbsp; Send</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row" style="height: 200px; overflow-y: scroll;">
                    <div class="col-12">
                        <div id="messagesList">
                            @foreach (var message in Model.Messages)
                            {
                                <div>@Html.Raw(message)</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary"><a asp-area="Inventory" asp-controller="Inventory" asp-action="Index" class="no-underline"><i class='fas fa-tasks'></i> Inventory - latest updates</a></h6>
                <div style="margin-left: auto;"><a asp-area="Inventory" asp-controller="Inventory" asp-action="Create" class="no-underline"><i class="fas fa-plus"></i></a></div>
            </div>
            <div class="card-body" id="inventory-chart-body">
                <div class="chart-pie"><canvas id="inventory-pie-chart" width="100%" height="50"></canvas></div>
            </div>
            <div class="card-footer small text-muted">@Model.InventoryLastUpdate</div>
        </div>
        <br />
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary"><a asp-area="Chores" asp-controller="Chores" asp-action="Index" class="no-underline"><i class='fas fa-shopping-bag'></i> Chores - latest updates</a></h6>
                <div style="margin-left: auto;"><a asp-area="Chores" asp-controller="Chores" asp-action="Create" class="no-underline"><i class="fas fa-plus"></i></a></div>
            </div>
            <div class="card-body" id="chores-chart-body">
                <div class="chart-pie"><canvas id="chores-pie-chart" width="100%" height="50"></canvas></div>
            </div>
            <div class="card-footer small text-muted">@Model.ChoresLastUpdate</div>
        </div>
        <br />
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary"><a asp-area="Issues" asp-controller="Issues" asp-action="Index" class="no-underline"><i class='fas fa-exclamation-circle'></i> Issues - latest updates</a></h6>
                <div style="margin-left: auto;"><a asp-area="Issues" asp-controller="Issues" asp-action="Create" class="no-underline"><i class="fas fa-plus"></i></a></div>
            </div>
            <div class="card-body" id="issues-chart-body">
                <div class="chart-pie"><canvas id="issues-pie-chart" width="100%" height="50"></canvas></div>
            </div>
            <div class="card-footer small text-muted">@Model.IssuesLastUpdate</div>
        </div>
    </div>
</div>

<script src="~/js/chart.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/home.index.js"></script>