@model string

<div class="form-group">
    @Html.LabelFor(m => m, @ViewData.ModelMetadata.GetDisplayName())
    <input name="@ViewData.ModelMetadata.PropertyName" value="********" class="form-control form-control-solid" disabled="disabled" type="password" placeholder="@ViewData.ModelMetadata.GetDisplayName()" />
    <span asp-validation-for="@ViewData.ModelMetadata.PropertyName" class="text-danger"></span>
</div>